/* League Spartan Font import */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --darkBlue2: #0d4366;
    --darkBlue1: #298ea6;
    --lightBlue2: #cee7f1;
    --lightBlue1: #e3f1f4;
    --white: #FFFFFF;
    --black: #000000;
    --lightRed: #e25656;
    --lightGreen: #a2e7a2;
}

html {
    height: 100vh;
}

body {
    background-color: #F8F8F7;
}

main {
    padding: 20px;
}

.main {
    display: flex;
}

.main-index {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-right: 1px solid #ccc;
}

/* h1 {
    font-size: 60px;
    font-weight: bold;
    color: var(--darkBlue2);
} */

/* .principal {
    margin-left: 200px;
    margin-top: 30px;
} */

/* .principal p {
    font-size: 36px;
    font-style: normal;
    color: var(--darkBlue2);
    margin-top: 15px;
} */

/* .iconesPagina {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    margin-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #CEC6C6;
    height: 100vh;
} */

/* .iconesPagina img {
    margin: 30px 0;
} */

/* Configuração da tooltip */

/* .tooltip {
    position: relative;
    z-index: 2;
} */

/* .tooltip .tooltiptext {
    visibility: hidden;
    width: 290px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    left: 110%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
} */

/* .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 2;
} */